<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th> Product </th>
            <th> Price </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${popularProducts.empty}">
            <td colspan="2"> No Products Available </td>
        </tr>
        <tr th:each="popularProduct : ${popularProducts}">
            <td><span th:text="${popularProduct.name}"> Name </span></td>
            <td><span th:text="${popularProduct.priceL}"> Price </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>